@media (max-width: 870px) {
  .logo-text {
    font-size: 25px;
}

  .logo {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 770px) {
  .main-nav {
    flex-direction: column;
    margin-top: 20px;
  }

  .picture-page img {
    height: 50%
  }
}

@media (max-width: 635px) {
  .picture-page {
    flex-direction: column;
    justify-content: center;
  }

  .picture-page-text {
    margin-top: 20px;
  }

  .welcome {
    font-size: 75px;
  }
}